.head-wrap {
	background-color: $white;
	padding-bottom: em(15px);
	padding-top: em(15px);
}
.header {
	text-align: center;
}
.header__title {
	text-transform: uppercase;
	font-weight: normal;
	font-size: em(24px);
	margin-bottom: em(2px);
	text-align: center;
	a {
		text-decoration: none;
		@include lato;
	}
}
.header__sub-title {
	text-transform: uppercase;
	padding-bottom: em(20px);
	font-size: em(12px);
	text-align: center;
	@include roboto;
}

@mixin header-medium {
	.head-wrap {
		margin-bottom: em(15px);
		padding-top: em(30px);
	}
	.header__title {
		font-size: em(28px);
		text-align: left;
	}
	.header__sub-title {
		font-size: em(15px);
		text-align: left;
	}
	.grid__cell--head-left { width: fluid(5, 9); }
	.grid__cell--head-right { width: fluid(4, 9); }
}

@mixin header-large {
	.grid__cell--head-left { width: fluid(4, 11); }
	.grid__cell--head-right { width: fluid(7, 11); }
}
