.head-wrap {
	margin-bottom: em(15px);
	background-color: $white;
	padding-bottom: em(15px);
}
.header {
	text-align: center;
}
.header__title {
	text-transform: uppercase;
	font-weight: normal;
	padding: em(12px) 0 em(3px) 0;
	font-size: em(24px);
	@include cabin;
	a { text-decoration: none; }
}
.header__sub-title {
	text-transform: uppercase;
	padding-bottom: em(20px);
	font-size: em(12px);
	@include roboto;
}

@mixin header-medium {
	.head-wrap { margin-bottom: em(30px); }
	.header__title { font-size: em(35px); }
	.header__sub-title {
		font-size: em(15px);
		padding-bottom: em(30px);
	}
}
