.nav {
	text-align: center;
	@include roboto;
}
.nav__item {
	display: inline-block;
	margin: em(5px) em(12px);
	font-size: em(14px);
	text-transform: uppercase;
	text-decoration: none;
	@include lato;
}
.nav__item--active {
	border-bottom: em(2px) solid black;
	padding-bottom: em(3px);
}

@mixin nav-medium {
	.nav { text-align: right; }
	.nav__item {
		margin: em(12px);
		font-size: em(16px);
	}
}